/* Resets */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 0;
    background-color:#F2F2EE ;
}
a{
    text-decoration: none;
    color: #5969E0;
}
img{
    max-width: 100%;
    display: block;
}
/* Containers */

.container{
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
    z-index: 2;
}
/* Fontes e cores */
.bg-dark{
    background: #222;
    padding-top: 60px;
}

/* Menu */
header.header{
    background: url("../img/header-image.jpg") center center no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0 auto;
    padding:10px;
    
}
.menu{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px 25px;
    
}
.menu .menu-items{
    display: flex;
    list-style: none;
    margin-left: 10px; 
}

.menu .menu-items li{
    margin: 5px;
    padding: 5px;
}
.menu .menu-items a{
    display: block;
    text-decoration: none;
    font-size: 1rem;
    display: block;
    padding: 10px;
    color: #5379b6;
    font-family: 'Noto Sans JP', sans-serif;
}
.menu .menu-items a:hover{    
    color: #689aec;
}
.menu .menu-items a::after{
    content: '';
    width: 100%;
    display: none;
    height: 4px;
    display:block;
    border-bottom: solid 4px #689aec;
    margin: 0 auto;
    visibility: hidden;
    opacity: 0;
}
.menu-items a:hover::after, .menu-items a:active::after{    
    display:block;
    visibility: visible;
    opacity: 1;
    transition-duration: 0.6s;
    
}
.menu a.call-button{
    width:160px;
    height: 35px;
    padding:5px 0px;
    background:#5379b6;
    display:block;
    text-align: center;
    line-height: 22px;
    color:#F2F2EE;    
    border-radius: 15px;
    font-size: 1rem;    
    font-family: 'Noto Sans JP', sans-serif;

}
.menu a.call-button:hover{    
    background:#689aec;
    transition: 0.5s
}
.header .header-title{
    display: block;
    margin-top: 100px;
    font-family: 'Noto Sans JP', sans-serif;
}
.header .header-title h2{
    font-size: 3rem;
    color:#333
}
.header .header-title h2::after{
    content: '';
    width: 180px;
    display: none;
    height: 10px;
    display:block;
    border-bottom: solid 4px #333;
}
.header .header-title p{
    font-size: 1.2rem;
    margin-top: 10px;
    color:#444
}

.arrow-down{
    max-width: 50px;
    position: relative;
    left: 50%;
    top:55%
}
.arrow-down-img{
    max-width:30px;
}




@media (max-width : 740px ){
.menu .menu-items {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.container {

        width: 100%;

}




} 