/* Resets */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 0;
    background-color:#F2F2EE ;
}
a{
    text-decoration: none;
    color: #5969E0;
}
img{
    max-width: 100%;
    display: block;
}
/* Containers */

.container{
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
    z-index: 2;
}
/* Fontes | Cores | Buttons */
.bg-dark{
    background: #222;
    padding-top: 60px;
    padding-bottom: 60px;
}
.btn{
    width:160px;
    height: 35px;
    padding:5px 0px;
    background:#5379b6;
    display:block;
    text-align: center;
    line-height: 22px;
    color:#F2F2EE;    
    border-radius: 15px;
    font-size: 1rem;    
    font-family: 'Noto Sans JP', sans-serif;
    
}
.more-about{
    margin: 0 auto;
    margin-top:20px;
}

/* Menu */
header.header{
    background: url("../img/header-image.jpg") center center no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0 auto;
    padding:10px;
    
}
.menu{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:space-between;
    padding: 10px 25px;
    
}
.menu .menu-items{
    display: flex;
    list-style: none;
    margin-left: 10px; 
}

.menu .menu-items li{
    margin: 5px;
    padding: 5px;
}
.menu .menu-items a{
    display: block;
    text-decoration: none;
    font-size: 1rem;
    display: block;
    padding: 10px;
    color: #5379b6;
    font-family: 'Noto Sans JP', sans-serif;
}
.menu .menu-items a:hover{    
    color: #689aec;
}
.menu .menu-items a::after{
    content: '';
    width: 100%;
    display: none;
    height: 4px;
    display:block;
    border-bottom: solid 4px #689aec;
    margin: 0 auto;
    visibility: hidden;
    opacity: 0;
}
.menu-items a:hover::after, .menu-items a:active::after{    
    display:block;
    visibility: visible;
    opacity: 1;
    transition-duration: 0.6s;
    
}
.menu a.call-button{
    width:160px;
    height: 35px;
    padding:5px 0px;
    background:#5379b6;
    display:block;
    text-align: center;
    line-height: 22px;
    color:#F2F2EE;    
    border-radius: 15px;
    font-size: 1rem;    
    font-family: 'Noto Sans JP', sans-serif;

}
.menu a.call-button:hover{    
    background:#689aec;
    transition: 0.5s
}
.header .header-title{
    display: block;
    position: relative;
    margin-top: 33%;
    font-family: 'Noto Sans JP', sans-serif;
}
.header .header-title h2{
    font-size: 3.6rem;
    color:#333
}
.header .header-title h2::after{
    content: '';
    width: 180px;
    display: none;
    height: 10px;
    display:block;
    border-bottom: solid 4px #333;
}
.header .header-title p{
    font-size: 1.2rem;
    margin-top: 10px;
    color:#444
}

.arrow-down{
    max-width: 50px;
    position: relative;
    left: 50%;
    top:48%;
    animation: arrowAnimation 0.3s linear infinite alternate;
}

@keyframes arrowAnimation{
    0%{
        margin-top: -10%;
    }
    25%{
        margin-top: -10.1%;
    }
    50%{
        margin-top: -10.2%;
    }
    75%{
        margin-top: -10.3%;
    }
    100%{
        margin-top: -10.4%;
    }
}
.arrow-down-img{
    max-width:30px;
}
/* Cards */
.cards{
    display: flex;
    text-align: center;

}
.cards-title{
    text-align: center;
    font-size:2rem;
    color:#F2F2EE;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 10px 0px;
}
.card-text{
    text-align: center;
    font-size:1.1rem;
    font-family: 'Noto Sans JP', sans-serif;
    color:#cfc08e;
    max-width: 300px;
    margin: 0 auto;
}
.cards .card-items{
    max-width:280px;
    display: block;
    margin: 10px;
    background: #dedede;
    padding:10px;
    border-radius: 5px;
}

.cards .card-items h2{
    font-size:1.2rem;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    margin: 10px 0;
}
.cards .card-items p{
    padding:10px 25px 25px 0;
    font-size: 1rem;
    font-family: 'Noto Sans JP', sans-serif;
    margin-top: 10px;
}

/* Depoimentos */

.testimony-title{
    text-align: center;
    font-size:2rem;
    color:#cfc08e;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 30px 0px 0px 0px;
}
.testimony-text{
    text-align: center;
    font-size:1.1rem;
    font-family: 'Noto Sans JP', sans-serif;
    columns: #222222;
    max-width: 300px;
    margin: 10px auto 20px auto;
}
.testimonies{

    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    flex-direction:row; 
}
.testimonies .testimony-items{
    max-width: 240px;
    margin: 10px;
    background:#222;
    padding: 20px;
    color:#F2F2EE;
}
.testimonies .big-testimony{
    min-width: 500px;
}
.testimonies .testimony-items p{
    font-size:1rem;
    font-family: 'Noto Sans JP', sans-serif;
    margin-bottom: 20px;
}
.testimonies .testimony-items cite{
    font-size:0.9rem;
    font-family: 'Noto Sans'
}
/* Media Queries */

@media (max-width : 740px ){
.menu a.call-button{
    display:none;
}
.menu{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:space-evenly;
    padding: 10px 25px;
    
}
.arrow-down{

    max-width: 50px;
    position: relative;
    left: 50%;
    top:40%;
    animation: arrowAnimation 0.5s linear infinite alternate;
}
.container{
    max-width: 300px;
}

} 