/* Resets */
html{
    font: size 93%;
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 0;
    background-color:#F2F2EE;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    color: #5969E0;
}
img{
    max-width: 100%;
    display: block;
}
/* Containers */

.container{
    max-width: 1172px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}
/* Fontes | Cores | Buttons */
.bg-dark{
    background: #222;
    padding-top: 40px;
    padding-bottom: 60px;
}
.bg-grey{
    background: #dedede;
    padding-top: 40px;
    padding-bottom: 60px;
}
.btn{
    width:160px;
    height: 35px;
    padding:5px 0px;
    background:#5379b6;
    display:block;
    text-align: center;
    line-height: 22px;
    color:#F2F2EE;    
    border-radius: 15px;
    font-size: 1rem;   
    
}
.more-about{
    margin: 0 auto;
    margin-top:20px;
}

/* Menu */
header.header{
    background: url("../img/header-image-2.jpg") center center no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
    padding:10px;    
}
.about.header{
    background: url("../img/header-image-2.jpg") center center no-repeat;
    background-size: cover;
    min-height: 15vh;
    margin: 0 auto;
    position: relative;
    padding:10px;  
}
.menu{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:space-around;
    padding: 10px 25px;
}
.menu-mobile{
    display: none;
}

.menu .menu-items{
    display: flex;
    list-style: none;
    margin-left: 10px; 
}

.menu .menu-items li{
    margin: 5px;
    padding: 5px;
}
.menu .menu-items a{
    display: block;
    text-decoration: none;
    font-size: 1rem;
    display: block;
    padding: 10px;
    color: #232323;
}
.menu .menu-items a:hover{    
    color: #5279b6;
}
.menu .menu-items a::after{
    content: '';
    width: 100%;
    display: none;
    height: 4px;
    display:block;
    border-bottom: solid 4px #5279b6;
    margin: 0 auto;
    visibility: hidden;
    opacity: 0;
    transform: scaleX(0);
}
.menu-items a:hover::after, .menu-items a:active::after{    
    display:block;
    visibility: visible;
    opacity: 1;
    transform: scaleX(1);
    transition:transform 0.4s ease-in-out;    
}

/* buttons */
a.contact{
    background: #44B2BD !important;
}
a.contact i{
    font-size: 1rem;
}
a.contact:hover{
    background: #44B2BD !important;
}
a.btn{
    display:flex;
    padding:8px 0px;
    justify-content:center;
    align-items:center;
    background:#5644BD;
    color:#F2F2EE;
    border-radius: 10px;
    font-size: 1rem;
    border-bottom: 3px inset #4857C7;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    margin: 24px auto;
}
a.more-about{    
    border-bottom: 3px inset #4857C7;
}
a.btn i{
    font-size: 1rem;
}
a.btn:hover{
    border: 1px solid currentColor;
    border-bottom: 1px inset #4857C7;  
    transition: 0.2s  
}

/* header */
.header .header-title{
    margin-top:200px;
    padding-bottom:300px;
    position: relative;
    text-align: center;
    display: block;
}
.header .header-title h2{
    font-size: 3.6rem;
    color:#333
}
.header .header-title h2::after{
    content: '';
    width: 300px;
    height: 1px;
    background:#000;
    opacity: 0.6;
    display: block;
    padding: 1px;
    margin: 0 auto;
}
.header .header-title p{
    font-size: 1.2rem;
    margin-top: 12px;
    color:#444
}
.arrow-down{
    margin: 150px auto 0px auto;  
    width:40px;
    height:40px;
    animation: arrowAnimation 0.4s linear infinite alternate;
}
.arrow-down a{
    display: flex;   
    padding: 2px;
    text-align: center;
    justify-content:center;
    align-items:center;
}
.arrow-down a i{
    font-size: 1.5rem;
    color:#232323;
    text-align: center; 
}

@media (max-width : 720px ){   
    .menu {
        display: flex;
        width: 320px;
        padding:0px;
        z-index: 1;
        justify-content:space-between;
        align-items:center;
    }
    .nav .menu-mobile{
        display: flex;
        padding: 1px;
        text-align: right;
    }
    .nav ul{
        display: none;
    }
    .nav .menu-items.active {
        z-index: 2;
        animation: opacityAnimation;

    }
    @keyframes opacityAnimation{
        0%{
            opacity: 0;
        }
        50%{
            opacity: 0.5;
        }
        100%{
            opacity: 1
        }
    }
    .nav .menu-items{
        display:flex;
        width:100%;
        height:80vh;
        z-index: -99;        
        padding:10px;
        justify-content:center;
        align-items:center; 
        background:#222222;            
        position: absolute;
        right: 0px;
        top:75px;
        flex-direction: column;
    }
    .nav .menu-items li a{        
        color: #fff;
    }
    .nav a.hamburger{
        display: flex;
        justify-content:center;
        align-items:center;
        font-size: 1.2rem;
        font-weight: bold;
        color: #222222;
    }
    .nav a.hamburger i{
        margin-left: 10px;
    }
    
    
    .header .header-title{
        margin-top:104px;
        padding-bottom:150px;
        line-height:1.2;
        text-align: center;
    }
    
    
}
/* Animações */
@keyframes arrowAnimation{
    100%{
        transform : translateY(-8px);
    }
}
/* Cards */
.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;;
}
.cards-title{
    text-align: center;
    font-size:1.8rem;
    letter-spacing: 2px;
    color:#F2F2EE;
    margin: 5px 0px;
}
.cards-subtitle{
    font-size:0.875rem;
    color:#FFD700;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
}
.cards .card-items{
    max-width:280px;
    position: relative;
    margin: 10px;
    padding-bottom: 20px;
    background: #dedede;
    border-radius: 5px;    
    cursor: pointer;
}
.cards .card-items::after{
    content: '';
    display: block;
    position: absolute;
    bottom:0px;
    left:0px;
    width:100%;
    border-radius: 5px;
    border-bottom: 4px #FFD700 solid;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
.cards .card-items:hover:after{    
    transform: scaleX(1);
}
.cards .card-items > i{
    position: absolute;
    right: 15px;
    top: 20px;
    font-size: 2rem;
}
.cards .card-items > i{    
    color:#9838F2;
}
.cards .card-items:nth-child(2) > i{    
    color:#F2E935;
}
.cards .card-items:nth-child(3) > i{    
    color:#4B53EB;
}

.cards .card-item img{
    max-width:100%;
}
.cards .card-items h2{
    font-size:1.2rem;
    display:block;
    text-align: center;
    margin-top: 15px;
}
.cards .card-items h2::after{
    content:'';
    display:block;
    background:#b4b4b4;
    width: 150px;
    padding:1px;
    margin: 5px auto;
}
.cards .description p{
    padding:10px 15px;
    color:#383636;
    font-size: 0.875rem;
}

@media (max-width : 720px ){
    .cards{
        max-width:300px;
        margin:0 auto;
        flex-direction: column;
    }
    .cards .card-items{
        max-width: 320px;
    }
}
/* Depoimentos */

.testimony-title{
    text-align: center;
    letter-spacing: 2px;
    font-size:2rem;
    color:#FFD700;
    margin: 30px 0px 0px 0px;
}
.testimony-subtitle{
    text-align: center;
    font-size:0.875rem;
    color: #363535;
    max-width: 300px;
    margin: 10px auto 20px auto;
}
.testimonies{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    max-width: 960px;
    margin: 0 auto
}
.testimonies .testimony-items{
    position: relative;
    max-width: 240px;
    margin: 10px;
    background:#222;
    padding: 20px;
    color:#F2F2EE;
}
.testimonies .big-testimony{
    min-width: 500px;
}
.testimonies .testimony-items p{
    font-size:0.875rem;
    margin-bottom: 20px;
}
.testimonies .testimony-items cite{
    font-size:0.7rem;
    font-family: 'Poppins', sans-serif;
}
.testimonies .testimony-items i{
    position: absolute;
    right: 20px;
    bottom: 20px;
}
@media (max-width : 680px ){
    .testimonies .testimony-items{        
        min-width: 320px;    
    }
}
/* Sobre */

.about.container{
    max-width: 960px;
    margin: 0 auto;
    justify-content: center;
}
.primary-title{
    text-align: center;
    font-size:1.8rem;
    letter-spacing: 2px;
    color:#F2F2EE;
    margin: 5px 0px;
}
.subtitle{
    font-size:0.875rem;
    color:#FFD700;
    text-align: center;
    max-width: 360px;
    margin: 0 auto;
    padding-bottom: 20px;
}
.more-about-container{
    display: flex;
    flex-direction: column;
    padding-top:40px;
    padding-bottom:40px;
    margin: 0 auto;
    justify-content:center;
}

.about-author-description{
    max-width: 600px;
    display: flex;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 10px;
    flex-direction: column;
}

.about-author-description p{
    font: size 1rem;
    color:#F2F2EE;
    margin-top: 20px;
}
.more-about-description{
    max-width: 960px;
    display:flex;
    flex-direction: row;
    margin: 20px 20px;
    justify-content:center;
    align-items:center;
}
.more-about-container h2{
    margin-bottom: 10px;
    text-align: center;
}
.more-about-container h2::after{
    content:'';
    display:block;
    margin: 10px auto 0 auto;
    width:60%;
    height: 3px;
    background:#dddada;
}
.more-about-description p{

    max-width: 360px;
    height: 360px;  
    border-radius: 5px;
    overflow-y: auto;
    font-size:0.875rem;
    padding: 20px;
    background: #dddada;
    scrollbar-color:#FFD700;
}
.more-about-description p::-webkit-scrollbar {
    background-color: #FFD700;
    outline: 2px solid slategrey;
}
.more-about-description p::-webkit-scrollbar-thumb {
    background-color: #232323;
}
.more-about-img-doubts-1{
    width: 360px;
    height: 360px;
    margin-left: 20px;
    border-radius: 5px;
    background: url('../img/doubts-1.jpg') no-repeat center center;
    background-size: cover;
}
.more-about-img-doubts-2{
    width: 360px;
    height: 360px;
    margin-right: 20px;
    border-radius: 5px;
    background: url('../img/doubts-2.jpg') no-repeat center center;
    background-size: cover;
}

@media (max-width: 768px){
    .about-author-description{
        max-width:350px;
    }
    .more-about-description{
        max-width:380px;
        display:flex;
        flex-direction: column;
    }
    .more-about-img-doubts-1{
        width: 350px;
        margin-left: 0;
        margin-top: 20px;
    }
    .more-about-img-doubts-2{
        width:350px;
        margin-right: 0;
        margin-bottom: 20px;
    }
}
/* Clientes */

.clients{
    max-width:960px;
    margin: 40px auto;
}
.clients ul{
    display:flex;
    list-style: none;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
}
.clients li{
    max-width: 177px;
    margin:9px
}
.clients ul a{
    background:#222222;
}
.clients ul a img{
    max-width: 100%;
}

/* Footer */

.footer{
    display: flex;
    justify-content:center;
    align-items:center;
    background:#222222;
    padding: 20px 0;
    text-align: center;
    flex-direction:column;
}
.footer .midias{
    display: flex;
    background:#FFD700;
    justify-content:center;
    align-items:center;
    padding: 0px 20px;
    margin:10px auto;
}
.footer .midias a{
    display: block;
    padding: 12px 5px 10px 5px;
    margin: 5px 10px;
}
.footer .midias a:hover i{
    color: #232323;
    opacity:1
}
.footer .midias a i{
    color:#333333
}
.footer .copy p{
    display: block;
    color:#666
}




